[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-countries = "*"
flake8 = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
pytest-django = "*"
djoser = "*"
pandas = "*"
redis = "*"
django-celery-beat = "*"
django-celery-results = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
